					/* CONFIGURACION GENERAL */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
					/* INICIA MI LOGO*/
.slider{
	width: 100%;
	display: flex;
}
.slider img{
	width: 100%;
}
@keyframes slide {
	0% { margin-left: 0;}
	20% { margin-left: 0;}
					
	25% { margin-left: -100%;}
	45% { margin-left: -100%;}
					
	50% { margin-left: -200%;}
	70% { margin-left: -200%;}
					
	75% { margin-left: -300%;}
	100% { margin-left: -300%;}
}
.logo {
	width: 100%;
	background-color: rgb(7, 6, 6, 0.4);
}
.logo img {
	width: 20%;
}
					/* TERMINA MI LOGO */
					/* INICIA MI MENU DE NAVEGACION */
nav{
	width: 100%;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center; 
	/* justify-content permite ubicar de manera horizontal*/
	/* align-intems nos permite ubicar de forma vertical*/
}
nav ul li a{
	text-decoration: none;
	font-size: 24px;
	color:  #B7950B;
	padding: 10px;
	display: block;
}
nav ul li a:hover{
	background: #2E4053;
	color: #E2D618;
}
nav ul li > ul{
	display: none;
}
nav ul li:hover > ul{
	display: block;
	position: absolute;
}
					/* TERMINA MI MENU DE NAVEGACION*/
h1{
	text-align: center;
	color: darkred;
	font-size: 32px;
	padding: 10px;
}
.portada{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.portada .parrafo{
	width: 40%;
	text-indent: 20px;
}
.portada img{
	width: 30%;
}