					/* CONFIGURACION GENERAL */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
					/* INICIA MI LOGO*/
.logo {
	width: 100%;
	background: #f49531;
}
.logo img {
	width: 20%;
}
					/* TERMINA MI LOGO */
					/* INICIA MI MENU DE NAVEGACION */
nav{
	width: 100%;
	background: black;
	display: inline-block;
}
.menu {
	margin: auto;
	width: 550px;
}
.menu li{
	list-style: none;
}
.menu a{
	text-decoration: none;
	font-size: 24px;
	color:  #B7950B;
	padding: 10px 15px;
	display: block;
}
.menu a:hover{
	background: #2E4053;
	color: #E2D618;
}
.menu > li {
	float: left;
}
.menu li ul{
	display: none;
	position: absolute;
}
.menu li:hover > ul{
	display: block;
	background: black;
}
					/* TERMINA MI MENU DE NAVEGACION*/
